.about-page{
  background-image: url(../../public/img/atv.avif);
  
  background-size: cover;
  height: 100vh;

}

.article-about {
    position: relative;
    background-size:400px;
    background-attachment: fixed;
    
}

/* .article-about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;

}

.article-about::after {
    content: "";
    position: absolute;
    top:50px;
    right: 0;
    width: 50%;
    height: 100%;
    
    
} */

.row-about{
    width: auto;
    height: 530px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.div-about{
    backdrop-filter: blur(5px);
    width: 500px;
    height: 200px;
    font-size: 20px;
    background-color: rgba(208, 161, 135, 0.347);
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   /*  border-radius: 40px; */
    margin-top: 130px;
    transition: 1.4s;
    transform: translateY(0);
    z-index: 19434579;
    border-radius: 20px;
    
  }
html.is-animating .div-about{
    opacity: 1;
    transform: translateY(-40px);
    
}

.text-about{
    text-align: center;
    line-height: 2em;
    transform: translateY(0);
    font-weight:100;
    font-size: 14px;
    transition: 2s;
     z-index: 19434579;
     color: white;
}

html.is-animating .text-about{
    opacity: 1;
    transform: translateY(-10px);
   
}
  
.active {
    background-color: white;
}