

.about-title{
    color: white;
    font-size: 170px;   
    font-family: 'Panchang';
    font-weight: bold;
    text-align: center;
    
}

.article-about {
    position: relative;
    background-size:400px;
    background-attachment: fixed;
    
}


.me-black{
width: 710px;
height: 540px;
object-fit: cover;
}

.row-about{
    width: auto;
    height: 530px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.div-about{

    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: rgb(43, 249, 115);

}

.text-about {
    text-align: center;
    /* line-height: 2em; */
    font-size: 50px;
    font-weight: 200;
    transition: 2s;
    color: black;
    
    
}

.line{
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100% );
}

.word{
    transform: translateY(100px);
    transition: transform .1s;
}

  
.active {
    background-color: white;
}