.about-page{
  

}

.about-me{
    /* background-image: url(../../public/img/atv.avif);
    background-size: cover;
    background-position-y: -450px;
    height: 200px; */
}

.about-title{
    color: white;
    font-size: 170px;   
    font-family: 'Panchang';
    font-weight: bold;
    text-align: center;
    
}

.article-about {
    position: relative;
    background-size:400px;
    background-attachment: fixed;
    
}

.div-my-img{
   }

.me-black{
width: 710px;
height: 540px;
object-fit: cover;
}

.row-about{
    width: auto;
    height: 530px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.div-about{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   /*  border-radius: 40px; */
   /*  margin-top: 130px;
    transition: 1.4s;
    transform: translateY(0);
    z-index: 19434579;
    border-radius: 20px; */
    
}

.text-about{
    text-align: center;
    /* line-height: 2em; */
    font-size: 50px;
    font-weight: 200;
    transition: 2s;
     color:  #eee5e5;
}

  
.active {
    background-color: white;
}