@import 'bootstrap';
@import 'navbar';
@import 'body';
@import 'main';
@import 'about';
@import 'expertise';
@import 'music';
@import 'footer';
@import 'contact';
@import 'work';
@import 'hello';
@import 'outline';

  @font-face {
    font-family: 'Supreme-Variable';
    src: url('../../public/fonts/Supreme-Variable.woff2') format('woff2'),
         url('../../public/fonts/Supreme-Variable.woff') format('woff'),
         url('../../public/fonts/Supreme-Variable.ttf') format('truetype');
         font-weight: 100 800;
         font-display: swap;
         font-style: normal;
  }

  @font-face {
    font-family: 'Panchang-Variable';
    src: url('../../public/fonts/Panchang-Variable.woff2') format('woff2'),
         url('../../public/fonts/Panchang-Variable.woff') format('woff'),
         url('../../public/fonts/Panchang-Variable.ttf') format('truetype');
         font-weight: 200 800;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Panchang-Extralight';
    src: url('../../public/fonts/Panchang-Extralight.woff2') format('woff2'),
         url('../../public/fonts/Panchang-Extralight.woff') format('woff'),
         url('../../public/fonts/Panchang-Extralight.ttf') format('truetype');
         font-weight: 200;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Panchang-Light';
    src: url('../../public/fonts/Panchang-Light.woff2') format('woff2'),
         url('../../public/fonts/Panchang-Light.woff') format('woff'),
         url('../../public/fonts/Panchang-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Panchang-Regular';
    src: url('../../public/fonts/Panchang-Regular.woff2') format('woff2'),
         url('../../public/fonts/Panchang-Regular.woff') format('woff'),
         url('../../public/fonts/Panchang-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Panchang-Medium';
    src: url('../../public/fonts/Panchang-Medium.woff2') format('woff2'),
         url('../../public/fonts/Panchang-Medium.woff') format('woff'),
         url('../../public/fonts/Panchang-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Panchang-Semibold';
    src: url('../../public/fonts/Panchang-Semibold.woff2') format('woff2'),
         url('../../public/fonts/Panchang-Semibold.woff') format('woff'),
         url('../../public/fonts/Panchang-Semibold.ttf') format('truetype');
         font-weight: 600;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Panchang-Bold';
    src: url('../../public/fonts/Panchang-Bold.woff2') format('woff2'),
         url('../../public/fonts/Panchang-Bold.woff') format('woff'),
         url('../../public/fonts/Panchang-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Panchang-Extrabold';
    src: url('../../public/fonts/Panchang-Extrabold.woff2') format('woff2'),
         url('../../public/fonts/Panchang-Extrabold.woff') format('woff'),
         url('../../public/fonts/Panchang-Extrabold.ttf') format('truetype');
         font-weight: 800;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-Variable';
    src: url('../../public/fonts/Satoshi-Variable.woff2') format('woff2'),
         url('../../public/fonts/Satoshi-Variable.woff') format('woff'),
         url('../../public/fonts/Satoshi-Variable.ttf') format('truetype');
         font-weight: 300 900;
         font-display: swap;
         font-style: normal;
  }
  
  

  @font-face {
    font-family: 'Satoshi-VariableItalic';
    src: url('../../public/fonts/Satoshi-VariableItalic.woff2') format('woff2'),
         url('../../public/fonts/Satoshi-VariableItalic.woff') format('woff'),
         url('../../public/fonts/Satoshi-VariableItalic.ttf') format('truetype');
         font-weight: 300 900;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Light';
    src: url('../../public/fonts/Satoshi-Light.woff2') format('woff2'),
         url('../../public/fonts/Satoshi-Light.woff') format('woff'),
         url('../../public/fonts/Satoshi-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-LightItalic';
    src: url('../../public/fonts/Satoshi-LightItalic.woff2') format('woff2'),
         url('../../public/fonts/Satoshi-LightItalic.woff') format('woff'),
         url('../../public/fonts/Satoshi-LightItalic.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Regular';
    src: url('../../public/fonts/Satoshi-Regular.woff2') format('woff2'),
         url('../../public/fonts/Satoshi-Regular.woff') format('woff'),
         url('../../public/fonts/Satoshi-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Italic';
    src: url('../../public/fonts/Satoshi-Italic.woff2') format('woff2'),
         url('../../public/fonts/Satoshi-Italic.woff') format('woff'),
         url('../../public/fonts/Satoshi-Italic.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Medium';
    src: url('../../public/fonts/Satoshi-Medium.woff2') format('woff2'),
         url('../../public/fonts/Satoshi-Medium.woff') format('woff'),
         url('../../public/fonts/Satoshi-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-MediumItalic';
    src: url('../../public/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
         url('../../public/fonts/Satoshi-MediumItalic.woff') format('woff'),
         url('../../public/fonts/Satoshi-MediumItalic.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Bold';
    src: url('../../public/fonts/Satoshi-Bold.woff2') format('woff2'),
         url('../../public/fonts/Satoshi-Bold.woff') format('woff'),
         url('../../public/fonts/Satoshi-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-BoldItalic';
    src: url('../../public/fonts/Satoshi-BoldItalic.woff2') format('woff2'),
         url('../../public/fonts/Satoshi-BoldItalic.woff') format('woff'),
         url('../../public/fonts/Satoshi-BoldItalic.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Black';
    src: url('../../public/fonts/Satoshi-Black.woff2') format('woff2'),
         url('../../public/fonts/Satoshi-Black.woff') format('woff'),
         url('../../public/fonts/Satoshi-Black.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
  }
  
  