@import 'bootstrap';
@import 'navbar';
@import 'body';
@import 'main';
@import 'about';
@import 'expertise';
@import 'music';
@import 'footer';
@import 'contact';
@import 'load';
@import 'work';
@import 'hello';
@import 'outline';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,600;1,6..12,200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
  @font-face {
    font-family: 'Supreme-Variable';
    src: url('../fonts/Supreme-Variable.woff2') format('woff2'),
         url('../fonts/Supreme-Variable.woff') format('woff'),
         url('../fonts/Supreme-Variable.ttf') format('truetype');
         font-weight: 100 800;
         font-display: swap;
         font-style: normal;
  }

  @font-face {
    font-family: 'Panchang-Variable';
    src: url('../fonts/Panchang-Variable.woff2') format('woff2'),
         url('../fonts/Panchang-Variable.woff') format('woff'),
         url('../fonts/Panchang-Variable.ttf') format('truetype');
         font-weight: 200 800;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Panchang-Extralight';
    src: url('../fonts/Panchang-Extralight.woff2') format('woff2'),
         url('../fonts/Panchang-Extralight.woff') format('woff'),
         url('../fonts/Panchang-Extralight.ttf') format('truetype');
         font-weight: 200;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Panchang-Light';
    src: url('../fonts/Panchang-Light.woff2') format('woff2'),
         url('../fonts/Panchang-Light.woff') format('woff'),
         url('../fonts/Panchang-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Panchang-Regular';
    src: url('../fonts/Panchang-Regular.woff2') format('woff2'),
         url('../fonts/Panchang-Regular.woff') format('woff'),
         url('../fonts/Panchang-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Panchang-Medium';
    src: url('../fonts/Panchang-Medium.woff2') format('woff2'),
         url('../fonts/Panchang-Medium.woff') format('woff'),
         url('../fonts/Panchang-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Panchang-Semibold';
    src: url('../fonts/Panchang-Semibold.woff2') format('woff2'),
         url('../fonts/Panchang-Semibold.woff') format('woff'),
         url('../fonts/Panchang-Semibold.ttf') format('truetype');
         font-weight: 600;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Panchang-Bold';
    src: url('../fonts/Panchang-Bold.woff2') format('woff2'),
         url('../fonts/Panchang-Bold.woff') format('woff'),
         url('../fonts/Panchang-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Panchang-Extrabold';
    src: url('../fonts/Panchang-Extrabold.woff2') format('woff2'),
         url('../fonts/Panchang-Extrabold.woff') format('woff'),
         url('../fonts/Panchang-Extrabold.ttf') format('truetype');
         font-weight: 800;
         font-display: swap;
         font-style: normal;
  }
  
  