body{
    margin: 0;
    background-color: #A2A2A2;
  color: rgb(255, 255, 255);
  font-family: 'Panchang';
}

.transition-fade{
    opacity: 1;
    transition: 1s;
    
}

html.is-animating .transition-fade{
  background-color: black;  
  opacity: 0;
}
 
.trigger {
    height: 100vh;
  } 