body{
    margin: 0;
    background-color: rgb(21, 20, 20);
  color: rgb(255, 255, 255);
  font-family: 'Panchang'; 
  
}

.transition-fade{
    
    opacity: 12;
    transition: 1s;
    /* transform: translateY(0);
    transform-origin: right;  */
    
}

html.is-animating .transition-fade{
    
    opacity: 0;
    /* transform: translateY(100%); */
}
 