.form-control{
   background-color: rgba(29, 29, 29, 0.67);
   color: #ffffff;
   font-family: 'Supreme';
   font-weight: 200;
   border-radius: 10px;
}



.cont-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  font-weight: 200;
  flex-direction: column;
  background: 
  radial-gradient(circle at 10% 20%, rgba(222, 84, 190, 0.563) 0%, rgba(0, 0, 0, 0) 33%),
  radial-gradient(circle at 100% 0%, rgba(105, 180, 166, 0.439) 2%, rgba(0, 0, 255, 0) 30%),
  radial-gradient(circle at 40% 110%, rgba(249, 213, 158, 0.5) 10%, rgba(255, 255, 0, 0) 40%);
}

.container-form{
  display: flex;
  align-items: center;
  
  height: 85%;
}

.row-form{
    width: 100%;
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    
  }
  .div-form{
    background-color: #16161565;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(172, 93, 93, 0.14);
    border-radius: 10px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
 .btn-form{
    width: 100%;
    height: 50px;
    color: white;
    font-size: 15px;
    font-weight: 200;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: #3d3732;
      border-radius: 13px;
      transition: 0.5s;
 }
 .btn-form:hover{   
   background-color: #1f1d1b;
 }

 .div-alert{
    width: 80%;
    height: 40px;
    margin-bottom: 10px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(111, 63, 63, 0.462);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
 }

 .div-alert-s{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    color: rgb(34, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #171717;
    background: rgba(202, 243, 174, 0.462);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
 }

 #form ::placeholder {
   color: #f8f3f3; 
   font-weight: 200;
 }


 #form :focus::placeholder {
   color: white;
   
 }

 #form :-webkit-input-placeholder {
   color: #f8f3f3; 
 }

 .mail-svg{
  width: 230px;
 }

 .link-social{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.links-pages{
  color: #000;
}

.link-linkedin, .link-git{
  margin-left: 20px;
  background-color: #323131;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: .6s;
  margin-top: 15px;
}

.link-git:hover, .link-linkedin:hover {
/*   background-color: #f32020;
border: solid 0.5px #f32020; */  
 box-shadow: 0 0 12px #f32020;

}

.linkedin, .git-hub{
  margin-top: 10px;
  width: 50px;
  
}
