

.cont-2{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    
}

.row-cont-2{

    display: flex;
    justify-content: center;
    align-items: center;
}

.div-cont-2{
    width: 100%;

}


.expertise-2{
    font-family: 'Panchang';   
    font-weight: lighter;
      text-align: center;
      color: white;
      font-size: 150px;   
      background: linear-gradient(50deg, rgba(203,241,72,1) 11%, rgba(228,212,87,1) 22%, rgba(214,101,132,1) 41%, rgba(118,103,196,1) 66%, rgba(214,92,90,1) 84%);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    margin-top: 30px;
    animation: changeColors 2s infinite alternate; 
  }
  
  @keyframes changeColors {
      0%, 100% {
        filter: hue-rotate(0deg);
      }
      25% {
        filter: hue-rotate(45deg);
      }
      50% {
        filter: hue-rotate(90deg);
      }
      75% {
        filter: hue-rotate(135deg);
      }
    }


    html.is-animating .expertise-2{
        opacity: 0;
        transform: translateY(20px);
    }
    


 .row-prot{
  margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
    width: 100%;
 }

 .div-prot{
  display: flex;
    justify-content: center;
    align-items: center;
 }
  .stack {
    height: 80px;
    width: 200px;
   /*  left: 660px; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    
  }
  

  .row-figma{
    margin-top: 300px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
   width: 100%;
  }

  .div-figma-2{
    display: flex;
    justify-content: center;
   align-items: center;

  }

  .text-figma{
    text-align: center;
    width: 500px;
    font-size: 20px;
    z-index: -11111;
  }

  .containee{
    display: flex;
    justify-content: center;
 
    height: 5900px;
  }

  /* img */

  .row-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    border: solid red;
  }

  .div-imgs{
    display: flex;
    justify-content: center;
  }

  .div-imgs-1{
    display: flex;
    justify-content: center;
  }
  img{
    width: 1000px;
    z-index: 0;
  }
  
  .img-2{
    z-index: 1;
  }

  .img-3{
    z-index: 2;
  }

  .img-4{
    z-index: 3;
  }