.scroll-watcher{
 width: 0.4px;
  position: fixed;
  top: 0;
  right: 180px;
  z-index: 1000;
  background-color:rgba(255, 255, 255, 0.712);
  height: 430px;
  scale: 1 0;
  animation: scroll-watcher linear;
  transform-origin: top;
  animation-timeline: scroll(); 
  transition: 1s;
}

@keyframes scroll-watcher{
    50% {scale: 1 1;}

    100% {transform-origin: center 20px;}
}

@-webkit-keyframes scroll-watcher{
  50% {scale: 1 1;}

  100% {transform-origin: center 20px;}
}


.scroll-watcher-2{
  width: 0.4px;
   position: absolute;
   top: 820px;
   left: 180px;
   z-index: 1000;
   background-color:rgba(255, 255, 255, 0.712);
   height: 90%;
   scale: 1 0;
   animation: scroll-watcher-2 linear;
   transform-origin: top;
   animation-timeline: scroll(); 
   transition: 1s;
 }
 
 @keyframes scroll-watcher-2{
  100% {scale: 1 1;}
 
 }




.cont-expertise{
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  margin-top: 140px;
  
}



.row-expertise{
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  width: 290px;
}

.div-expertise{
  text-align: end;
  margin-top: 77px;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  
}

.row-expertise-2{

  
  display: flex;
  flex-wrap: wrap;
  margin: -10px; 

}

.div-expertise-2{
  backdrop-filter: blur(10px);
  border-radius: 30px;
  background-color: rgba(101, 79, 130, 0.223);
  box-sizing: border-box;
  margin: 10px;
  width: 600px;
  height: 200px;
  z-index: 19434579;
  color: rgb(228, 225, 225);
 /*  background: radial-gradient(circle, rgba(129, 8, 221, 0.712) 0%, rgb(197, 197, 197) 60%); */
 background-image: url(../../public/media/Group\ 40.png);
    background-size:260px;
    background-attachment: fixed;
  
}


h5{
  margin: 30px 30px 15px 16px; /* Aggiunge uno spazio alla destra di ciascuna parola */
  display: inline-block;
  font-size: 30px;
  font-weight: lighter;
}