/* 
.scroll-watcher-2{
  width: 0.4px;
   position: absolute;
   top: 590px;
   left: 199px;
   z-index: 1000;
   background-color:rgba(165, 104, 35, 0.712);
   height: 100vh;
   scale: 1 0;
   animation: scroll-watcher-2 linear;
   transform-origin: top;
   animation-timeline: scroll(); 
   transition: 1s;
 }
 
 @keyframes scroll-watcher-2{
  100% {scale: 1 1;}
 
 }
 */
 .cont-figma{
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 140px;
 
}

.row-figma{
  display: flex;


  justify-content: space-between;
  width: 1000px;
}



.div-figma-2{
  background-color: rgb(233, 143, 40);
  display: flex;

  justify-content: center;
  border-radius: 20px;

}

.text-figma{
  color: rgb(0, 0, 0);
 letter-spacing: 1px;
 font-weight: 100;
 margin-top: 10px;
}

.row-prot{
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  width: 290px;
}

.div-prot{
  height: 70px;
  display: flex;
  justify-content: center;
  color: black;
  font-weight: lighter;
  backdrop-filter: blur(10px);
  /* border-radius: 21px; */
  display: flex;
  align-items: center;
  box-sizing: border-box;
}



.div-figma{
  backdrop-filter: blur(10px);
    box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  width: 100px;
  height: 40px;
  z-index: 19434579;
  color: black;
 background-image: url(../../public/media/Group\ 40.png);
    background-size:260px;
    background-attachment: fixed;

}



.cont-expertise{
  display: flex;
  justify-content: start;
  flex-direction: row;

  
}



.row-expertise{
  display: flex;
  flex-direction: row-reverse;
  justify-content:start;
  width: 290px;
}

.div-expertise{
  width: 120px;
  height: 50px;
  
  margin-top: 77px;
  color: black;
  font-weight: lighter;
  backdrop-filter: blur(10px);
  /* border-radius: 21px; */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
 /*  box-shadow:  0px 0.4px 0.4px 0.4px rgba(11, 11, 11, 0.899); */
 
  
}

.row-expertise-2{

    display: flex;
  flex-wrap: wrap;
  /* margin: -10px; */ 
  display: flex;
  justify-content: space-evenly;
  justify-content: end;
  align-items: center;

}

.div-expertise-2{
  backdrop-filter: blur(10px);
  /* border-radius: 30px; */
  box-sizing: border-box;
  margin: 10px;
  width: 600px;
  height: 200px;
  z-index: 19434579;
  color: black;
  border-radius: 20px;
    background-size:260px;
    background-attachment: fixed;
    
}

.div-expertise-3{
  backdrop-filter: blur(10px);
  /* border-radius: 30px; */
  box-sizing: border-box;
  margin: 10px;
  width: 600px;
  height: 200px;
  z-index: 19434579;
  color: rgb(0, 0, 0);
  border-radius: 20px;
    background-size:260px;
    background-attachment: fixed;
}


h5{
  margin: 30px 30px 15px 16px; /* Aggiunge uno spazio alla destra di ciascuna parola */
  display: inline-block;
  font-size: 30px;
  font-weight: lighter;
}


.div-front-2{
  background-color: rgb(233, 143, 40);
  color: rgb(0, 0, 0);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

}.stack{
  font-size: 12px;
}

.containee{

  display: flex;
  align-items: center;
  justify-content: center;
height: 300px;  

}
