.footer{
  display: flex;
      justify-content: center;
      
}


.pages{
  margin-top: 20px;
  width: 880px;
  height: 100px;
  background-color: #161615f1;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
    bottom: 0;
    margin-bottom: 20px;
}

  
.nav-links{
    display: flex;
   justify-content: center;
   align-items: center;   
   justify-content: space-around;
   background-color: #0d0e0d;
   border-radius: 6px;
  }

  .svg-no-footer {

    margin-left: 15px;
    -webkit-filter: none;
    filter: none;
    transition: 0.6s;

}

.svg-no-footer:hover {
    scale: 1.2;

}


  .bn30, .bn31, .bn32, .bn33, .bn34  {
    width: 150px;
    height: 50px;
    color: rgb(240, 118, 25);
    font-size: 19px;
    font-weight: 200;
    padding: 0.7em 1em;
    margin: 10px;
    transition: .7s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

  }

  .bn35{
    width: 110px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: #f20e0e;
    font-size: 11px;
    font-family: 'panchang';
    font-weight: 300;
    margin: 10px;
    transition: .7s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

  }

.bn35:hover {
    font-family: "Panchang";
    font-style: italic;
    text-decoration: none;
    animation:infinite ;
    animation:changeColorBtn 1s linear infinite;
    transform: scale(0.98);
    color: whitesmoke;

}

@keyframes changeColorBtn {
    25% {
        background-image: linear-gradient(-30deg, #c9e7ea, #6f2ebf );
        background-size: 30px;
    }
    55% {     
            background: linear-gradient(to -30deg, #868658, #6c848d, #ffc685, #44617b);
            background-size: 90px;
    }
    75% {
         background: linear-gradient(66deg, #60e6c7, #6b4df0, #7b4adb);
         background-size: 30px;
    }

}
  
  .bn30:hover, .bn31:hover, .bn32:hover, .bn33:hover, .bn34:hover {
    font-weight: lighter;
    background-color: #2a2a2a;
    border-radius: 4px;

    }
 


.active{

  border-bottom: solid 0.2px #f00909;
    background: none;
}



@media screen and (min-width: 200px) and (max-width: 767px) {
  .pages{
    width: 390px;
    height: 90px;
    background-color: #161615f1;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
      bottom: 0;
      margin-bottom: 20px;
  }

  .nav-links{
    width: 364px;
    text-align: center;
  }

  .bn30, .bn31, .bn32, .bn33, .bn34  {
    width: 70px;
    height: 30px;
    color: rgb(240, 118, 25);
    font-size: 14px;
    font-weight: 200;
    padding: 0.7em 1em;
    margin: 10px;
    transition: .7s;
    
  }

  .bn35{
    display: none;
  }

  .active{
 
    border-bottom: solid 0.2px #f00909;
    background: none;
  }

}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .pages{
    width: 800px;
  }

  .nav-links{
    width: 683px;
  }

  .bn35{
    display: none;
  }

  .active{
 
    border-bottom: solid 0.2px #f00909;
    background: none;
  }
}

