.container-hello{
    background-color: rgb(231, 227, 227);
    height: 100vh;
  }
  
  .container-links{
    border-top: solid 0.5px black;
    margin-top: 200px;
    display: flex;
    align-items: center;
  }
  
  
  .hello{
    color: #000;
    text-align: center;
    font-weight: 1000;
    font-size: 220px;
  }
  
  .letters{
    font-family: "Panchang";
    font-size: 200px;
    font-weight: 400;
  }
  
  .discover{
    font-weight: 200;
    color: #000;
    font-size: 25px;
  }

  .link-social{
    display: flex;
    flex-direction: column;
    
  }

  .link-git, .link-linkedin, .resume{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: start;
  }

  .git-hub, .linkedin{
    width: 30px;
    height: 30px;
    margin-right: 40px;
  }

  .links-page{
    font-weight: 200;
    font-size: large;
    color: #000;
    width: 70px;
   transition: 0.5s;
    }
    

    @media screen and (min-width: 200px) and (max-width: 767px){

      .container-hello{
        height: 430px;
      }
      .hello{
        margin-top: 20px;
        font-size: 40px;
      }

      .letters{
        font-family: "Panchang";
        font-size: 40px;
      }

      .container-links{
        margin-top: 30px;
      }

      .link-social{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        margin-top: 20px;
        padding: 0;
      }


      .link-git, .link-linkedin, .resume{
        width: 90px;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      .git-hub, .linkedin{
        display: none;
      }

      .discover{
        margin-top: 20px;
        text-align: center;
      }

      .div-discover{
        display: flex;
        align-items: center;
      }

      .lets-talk{
        margin-top: 20px;
        font-size: 40px;
      }

      .div-discover{
        display: flex;
        align-items: center;
        margin-top: 50px;
      }
      
      .discover{
        font-size: 16px;
    }

    }

    @media screen and (min-width: 768px) and (max-width: 1200px){

      .container-hello{
        height: 430px;
      }
      .hello{
        font-size: 70px;
      }

      .letters{
        font-family: "Panchang";
        font-size: 70px;
      }

      .container-links{
        margin-top: 30px;
      }

      .link-social{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        margin-top: 20px;
        padding: 0;
      }


      .link-git, .link-linkedin, .resume{
        width: 90px;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      .git-hub, .linkedin{
        display: none;
      }

      .discover{
        margin-top: 20px;
        text-align: center;
      }

      .div-discover{
        display: flex;
        align-items: center;
      }

      .lets-talk{
        margin-top: 20px;
        font-size: 70px;
      }

      .div-discover{
        display: flex;
        align-items: center;
        margin-top: 50px;
      }
      
      .discover{
        font-size: 16px;
    }

    }