.main-music{
  background: radial-gradient(circle, rgb(72, 49, 89) 0%,  rgb(72, 49, 89) 0%, rgb(72, 49, 89) 0%, rgba(0,0,0,1) 72%); 

}

.text-music{
  font-family: 'Panchang';   
  font-weight: lighter;
    text-align: center;
    font-size: 34px;
    background: linear-gradient(50deg, rgba(203,241,72,1) 11%, rgba(228,212,87,1) 22%, rgba(214,101,132,1) 41%, rgba(118,103,196,1) 66%, rgba(214,92,90,1) 84%);
  background-clip: text;
  -webkit-background-clip: text; 
  color: transparent;
  margin-top: 30px;
  animation: changeColors 2s infinite alternate; 
}

@keyframes changeColors {
    0%, 100% {
      filter: hue-rotate(0deg);
    }
    25% {
      filter: hue-rotate(45deg);
    }
    50% {
      filter: hue-rotate(90deg);
    }
    75% {
      filter: hue-rotate(135deg);
    }
  }


  .p-music{
    border-radius: 8px;
 
    background: rgba(233, 218, 218, 0.57);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
        color: rgb(19, 18, 19);
    text-align: center;
  }

  .cont-music{
    background: #171717;
    width: 100%;
    border-radius: 20px;
    background: rgba(192, 152, 152, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }


.slides {
  display: flex;
  flex-direction: row;
  margin: 2px;
  width: 100%;

  
}

.div-img-tit{
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #bb57145e;
  transition: 0.85s;
  box-sizing: border-box;
}

.div-img-tit:hover{
  width: 100%;
  background: rgba(221, 196, 196, 0.2);
  border-bottom: 0.3px solid #e0c5b35e;
  border-radius: 15px;
  
}

.slide {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.title-song{
  font-family: 'Panchang';
  font-weight: lighter;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  text-align: center;
}


.play-pause-button{
  border: none;
  width: 130px;
  height: 30px;
  border-radius: 30px;
  background:  #c89172;
  color: rgb(248, 248, 248);
  transition: 0.67s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-pause-button:hover{
  border: none;
  background:  #e4cdc0;
  background:  #8e5a3c;
  color: rgb(124, 124, 124);
}

.progress-bar-fill {
  height: 100%; 
  width: 0%; 
  border-radius: 600px;
  background: linear-gradient(50deg, rgba(255, 215, 137, 1) 22%, rgb(162, 101, 219) 84%);
  box-shadow: 0 0 0.2px rgba(255, 215, 137, 0.8), 0 0 20px rgb(219, 140, 101);
  
}

.custom-progress-bar{
  border-radius: 100px;
  background-color: rgb(233, 233, 241);
  height: 7px;
}


.animated-svg rect {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-5px);
  }
  60% {
      transform: translateY(-3px);
  }
}

/* Nascondi il SVG quando la traccia non è in riproduzione */
#svgContainer:not(.playing) .animated-svg {
  display: none;
}

/** music player */


