.main-music{
    background-color: #3B2C2C;
}

.text-music{
    font-family: 'Jura', sans-serif;
    text-align: center;
    font-size: 120px;
    background: linear-gradient(50deg, rgba(203,241,72,1) 11%, rgba(228,212,87,1) 22%, rgba(214,101,132,1) 41%, rgba(118,103,196,1) 66%, rgba(214,92,90,1) 84%);
  background-clip: text;
  -webkit-background-clip: text; 
  color: transparent;
  animation: changeColors 2s infinite alternate; 
}

@keyframes changeColors {
    0%, 100% {
      filter: hue-rotate(0deg);
    }
    25% {
      filter: hue-rotate(45deg);
    }
    50% {
      filter: hue-rotate(90deg);
    }
    75% {
      filter: hue-rotate(135deg);
    }
  }


  .p-music{
 
    background: rgba(233, 218, 218, 0.57);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
        color: rgb(19, 18, 19);
    text-align: center;
  }

  .cont-music{
    background: #000000;
    width: 100%;
    height: 400px;
    border-radius: 20px;
  }



.carousel {
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
  scroll-behavior: smooth;
}

.carousel:before {
  content: "";
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;
  pointer-events: none;

  --bg: rgba(15, 23, 42, 1);

  background: linear-gradient(
    to right,
    var(--bg),
    transparent 10%,
    transparent 90%,
    var(--bg)
  );
}

.slides {
  width: 100%;
  height: 300px;
  display: flex;
  gap: 20px;

  padding: 1rem;
  overflow-x: scroll;

  scroll-behavior: smooth;
  --tw-scroll-snap-strictness: mandatory;
  scroll-snap-type: x var(--tw-scroll-snap-strictness);
}

.navigation {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 10px;
}

.navigation a {
  color: #cbd5e1;
  text-decoration: none;
}

.slide {
  scroll-snap-stop: always;
  scroll-snap-align: center;

  flex-grow: 0;
  flex-shrink: 0;

  width: 400px;
  height:200px;

  object-fit: cover;
  background: #1e293b;

  border: none;
  border-radius: 0.5rem;
}

.slides::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 9999px;
  background-color: #1e293b;
}

.slides::-webkit-scrollbar {
  height: 6px;
}

.slides::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 9999px;
  background-color: #475569;
}

.slides::-webkit-scrollbar-thumb:hover {
  background-color: #657791;
}

.slides::-webkit-scrollbar-thumb:active {
  background-color: #38485e;
}
