.work-section {
    position: absolute;
    top: 750px;
    height: 2700px;
    background: #000000;
}

.container-ademi{
    position: sticky;
    top: 0;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row-ademi{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.div-text{
    text-align: center;   
}

.div-par-ademi{
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(231, 227, 227);
}

.img-ademi-5{
    width: 510px;
}

.welcome{
    font-family: 'panchang';
}

.par-ademi{
    width: 520px;
    font-size: 23px;
    font-weight: 100;
    text-align: start;
    color: #000000;
}

.number{
    font-family: 'panchang';
    font-size: 200px;
    font-weight:bolder;
    color: #000000;
    border-left: solid 20px  black;
    text-align: center;
}

.text-ademi{
    font-size: 210px;
    font-family: 'panchang';
    font-weight:bolder;
    transition: transform .1s;
    z-index: -777771;
}


.img-project, .img-project-1, .img-project-2{
    width: 56%;
    z-index: 2;
}

.img-project-2{
    width: 56%;
    display: none;
}


@media screen and (min-width: 200px) and (max-width: 767px) {
    .container-ademi{
        width: 100%;
    }
    .row-div-text{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .div-text{
        width: 400px;
        display: flex;
        justify-content: center;
    }
    .text-ademi{
        font-size: 50px;
        justify-content: center;
        text-align: center;
    }

    .div-par-ademi{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        
    }
    
    .par-ademi{
        font-size: 16px;
        width: 100%;
        text-align: center;

    }

    .number{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
  
    
    .container-ademi{
        width: 100%;
    }
    .row-div-text{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .div-text{
        width: 400px;
        display: flex;
        justify-content: center;
    }
    .text-ademi{
        font-size: 80px;
        justify-content: center;
        text-align: center;
    }

    .div-par-ademi{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        
    }
    
    .par-ademi{
        font-size: 20px;
        width: 100%;
        text-align: center;

    }

    .number{
        display: none;
    }
    
}