.work-section {
    position: absolute;
    top: 750px; /* Regola l'altezza in modo che inizi sotto l'header fisso */
    height: 6000px;
    background: #000000;
}

.container-ademi{
    position: sticky;
    top: 0;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.row-ademi{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100vh;
}



.text-ademi{
    font-size: 230px;
    font-family: 'panchang';
    font-weight:bolder;
    transition: transform .1s;
}
